### Lists
Lists contain comma seperated values enclosed in square brackets

In [1]:
# create
mycolors = ["Blue", "Red", "Yellow", "Brown"]

#Display
mycolors

['Blue', 'Red', 'Yellow', 'Brown']

### Indexing
- Accessing values in a list positionally 
- Python uses a zero-based indexing format

In [3]:
# retrieve the first item in the list mycolor
mycolors[0]

'Blue'

In [4]:
#retrieve the last item in the list mycolor
mycolors[3]

'Brown'

In [6]:
#create list of ten randon numbers
mynum = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [7]:
#
#retrieve the first to the fifth item in the list mynum
mynum[0:4]

[100, 90, 80, 70]

In [9]:
mynum[0:3]

[100, 90, 80]

### Note: when indexing with a range the value in the upper boundary position is excluded

### create a list of 7 random names and extract the items the last items

In [13]:
RandomNames = ["Avinash", "sam", "Roy", "Simi", "Thota", "Ram", "Tom"]

RandomNames[3:7]

['Simi', 'Thota', 'Ram', 'Tom']

In [14]:
#Len: retrievw thebnumber of items in a list
len (mynum)

10

In [15]:
#Max: retreives the largest value in a list
max(mynum)

100

In [16]:
#Min: Retrieve the smallest value in a list
min(mynum)

10

In [17]:
#Append: Add new item to a list
mynum.append(1)

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 1]

In [19]:
#check minimum value after appending a new number
min(mynum)

1

In [20]:
#Remove: Deletes item from on already existing list
mynum.remove(1)

#display
mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [21]:
#Sort a list
mynum.sort(reverse = True) #True is decending

mynum

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [22]:
#Sort a list
mynum.sort(reverse = False) #False is Ascending

mynum

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#### Class activity: Create a list of five random numbers, using functions: Get the difference between the largest and smallest value divided by the lenght of the list

In [31]:
RandomNum = [20,40,60,80,100]

max(RandomNum)

100

In [25]:
min(RandomNum)

20

In [26]:
len(RandomNum)

5

In [27]:
max(RandomNum)-min(RandomNum)

80

In [28]:
(max(RandomNum)-min(RandomNum))/len(RandomNum)

16.0

In [ ]:
## a= max(num)
##b= min(num)
##c=Len (num)

### Tuples
They are similar to lists but with two major differences
1. They created with round brackets or Parenthesis
2. they are immutable / unchangeable : update/add, remove or sort is not allowed in any way or form

In [32]:
#create a tuple of colors
mytuple = ("Blue", "Red", "Yellow", "Brown")

mytuple

('Blue', 'Red', 'Yellow', 'Brown')

In [33]:
mytuple[0]

'Blue'

 ### Dictionaries
 - They store data in key-value pairs
 - Dictionaries are created using the curly- braces {}

In [36]:
#create a dictionary
mydict = {"FirstName" :"Avi", "LastName" : "Thota","Location" : "Uk", "Postcode" : "ST4"}

#Display
mydict

{'FirstName': 'Avi', 'LastName': 'Thota', 'Location': 'Uk', 'Postcode': 'ST4'}

In [37]:
#Accessing values in a dictonary
mydict["LastName"]

'Thota'

In [ ]:
# update mydict

In [43]:
mydict["Location"] = "India"
mydict["Postcode"] = "990099"
mydict["FirstName"] = "Avinash"
mydict

{'FirstName': 'Avinash',
 'LastName': 'Thota',
 'Location': 'India',
 'Postcode': '990099'}

#### Dictionary Functions

In [44]:
#Len
len(mydict)

4

In [45]:
#Display all the values Only
mydict.values()

dict_values(['Avinash', 'Thota', 'India', '990099'])

In [46]:
#Dsiplay all the key values
mydict.keys()

dict_keys(['FirstName', 'LastName', 'Location', 'Postcode'])

In [47]:
#retrieve the key value pairs
mydict.items()

dict_items([('FirstName', 'Avinash'), ('LastName', 'Thota'), ('Location', 'India'), ('Postcode', '990099')])

In [49]:
#Accessing values in dictionary
mydict["Postcode"]

'990099'

In [48]:
# get the corresponding value to a key
mydict.get("Postcode")

'990099'

### Create a python program that prompts users for a month input and then your program returns the number of days in the month

In [ ]:
# step 1: create a dictionary of the month and their corresponding days
mymonth = {"January" : 31, "Febuary" : "28 or 29 in leap year", "March" : 30, "April" : 30, "may": 31, "June": 30, "July":31, "August": 31, "September": 30, "October": 31,
          "November": 30,"December": 31}

#step 2: get the user input
userinput = input("Enter a Month:")
#step 3: Retuen the number of days - (April) has (X) of Days
print (userinput, "has", mymonth["userinput"], "days")

In [ ]:

#step 2: get the user input
 userinput = input("Enter a Month:")

In [54]:
userinput

'April'

In [56]:
mymonth["April"]

30

In [ ]:
# step 1: create a dictionary of the month and their corresponding days
mymonth = {"January" : 31, "Febuary" : "28 or 29 in leap year", "March" : 30, "April" : 30, "may": 31, "June": 30, "July":31, "August": 31, "September": 30, "October": 31,
          "November": 30,"December": 31}

In [ ]:
#STEP 1: Create a dictionary of month and their corresponding days
mymonth = {"January": 31,
          "February" : "28 or 29 in leap years",
          "March" : 31,
          "April" : 30,
          "May" : 31,
          "June" : 30,
          "July" : 31,
          "August" : 31,
          "September" : 30,
          "October" : 31,
          "November" : 30,
          'December' : 31}

#STEP 2: Get the user input
userinput = input("Enter a month: ")

#STEP 3: Return the number of days with a fancy message - (January) has (XXX) of days
print(userinput, "has", mymonth[userinput], "days")